// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	main {
		flex: 1 0 100%;
	}
}
