.about-main {
	padding-top: 20rem;
	background: url(../images/bg-pattern-circle.svg) calc(100% - -140px) -600px / 90rem
			90rem no-repeat,
		$bg-light;
}

.about__title-wrapper {
	.about__title {
		max-width: 700px;
		margin-bottom: 5rem;
	}
}

.s-about-banner {
	img {
		width: 100%;
	}
}

.s-analytics {
	&__wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
	&__content {
		padding: 3.5rem 0;
		margin-top: 10rem;
		border-top: 2px solid rgba(54, 83, 107, 0.25);
		border-bottom: 2px solid rgba(54, 83, 107, 0.25);
		margin-bottom: 6rem;
	}
	&__data {
		color: $dark-pink !important;
		margin-bottom: 0;
	}
}

@include breakpoint(sm) {
	.about-main {
		background: url(../images/bg-pattern-circle.svg) calc(100% - -550px) -700px /
				90rem 90rem no-repeat,
			$bg-light;
	}
	.s-analytics {
		&__wrapper {
			grid-template-columns: repeat(1, 1fr);
			margin-top: 7rem;
			margin-bottom: 3rem;
		}
		&__content {
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
			border-top: none;
			border-bottom: none;
			text-align: center;
			&:first-of-type {
				border-top: 2px solid rgba(54, 83, 107, 0.25);
				padding-top: 4rem;
			}
			&:last-of-type {
				border-bottom: 2px solid rgba(54, 83, 107, 0.25);
				padding-bottom: 4rem;
			}
		}
	}
}
