.contact-main {
	padding-top: 20rem;
	background: url(../images/bg-pattern-circle.svg) calc(100% - -140px) -600px / 90rem
			90rem no-repeat,
		$bg-light;
	&__title {
		max-width: 650px;
		margin-bottom: 5rem;
	}
}

.s-contact {
	padding-bottom: 10rem;
	&__form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.s-contact__title {
		max-width: 500px;
		padding-left: 2rem;
		color: $light-san-juan-blue;
	}
	&__affiliates .grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 100px);
		justify-items: center;
	}
	&__form-wrapper {
		max-width: 450px;
	}
}

.form {
	&__control {
		&.announce {
			display: flex;
			align-items: flex-start;
		}
		input[type='text'],
		input[type='email'],
		textarea {
			appearance: none;
			-webkit-appearance: none;
			background: transparent;
			border: none;
			outline: none;
			border-radius: none;
			-webkit-border-radius: 0;
			text-indent: 1.5rem;
			border-bottom: 2px solid rgba(54, 83, 107, 0.25);
			width: 100%;
		}
		input[type='text'],
		input[type='email'] {
			height: 3em;
		}
		small {
			position: absolute;
			bottom: -2.3rem;
			left: 1.5rem;
			visibility: hidden;
			color: $dark-pink;
		}
		&--error input[type='text'],
		&--error input[type='email'] {
			border-bottom: 2px solid $dark-pink;
		}
		&--error input[type='text']::placeholder,
		&--error input[type='email']::placeholder {
			color: $dark-pink;
		}
		&--error small {
			visibility: visible;
		}
		position: relative;
		margin-bottom: 2rem;
	}
	&__checkbox {
		appearance: none;
		-webkit-appearance: none;
		outline: none;
		border: none;
		position: relative;
		display: inline-block;
		min-width: 2.4rem;
		min-height: 2.4rem;
		background-color: rgba(54, 83, 107, 0.25);
		margin-right: 1.5rem;
		margin-top: 0.7rem;
		cursor: pointer;
	}
	&__checkbox:checked {
		background-color: $dark-pink;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: inline-block;
			width: 1.2rem;
			height: 1.2rem;
			background: url(../images/icon-check-white.svg) center/cover no-repeat;
		}
	}
}

@include breakpoint(md) {
	.contact-main {
		background: url(../images/bg-pattern-circle.svg) calc(100% - -550px) -700px /
				90rem 90rem no-repeat,
			$bg-light;
	}
	.s-contact {
		.grid {
			grid-template-columns: 1fr;
			justify-items: center;
		}
		&__affiliates .grid {
			grid-template-columns: repeat(2, 1fr);
			margin-top: 6rem;
			grid-template-rows: repeat(3, 75px);
		}
		&__form-wrapper {
			margin-bottom: 10rem;
		}
	}
	.contact-main__title {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.s-contact__title {
		max-width: 500px;
		padding-left: 2rem;
		text-align: center;
	}
}
